body{
    width:100%;
}
.presentation{

    background-image:url('french.png');
    background-size:cover;
    min-height:95vh;
    width:100%;
}
.differences{
    margin-top:120px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:1.5rem;
    min-height:400px;
    margin-left:100px;
    margin-right:100px;
    align-items: center;
}
.bold{
    font-weight: bold;
    font-size:30px;
    
    
}
p{
    font-size:20px;
}
.p1{
    text-align:center;
    color:grey;
    font-size:40px;
    font-weight:bold;
}
.p2{
    color:rgb(71, 64, 64);
    text-align:center;
    font-weight:bold;
}
svg{
    fill:green;
    font-size:100px;
}
footer{
    background-color: rgb(6, 6, 65);
    margin-bottom:0;
    margin:0;
    color:white;
    padding-top:50px;
    overflow:hidden;
}